<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./dist/vue-colrow.js"></script>
  <link rel="stylesheet" href="dist/vue-colrow.css" />
</head>

<body>
  <div id="app">
    <row style="background: teal;">
      <v-col :width="1/5" v-for="n in total">
        <div class="box red"></div>
      </v-col>
    </row><button @click="total++">add</button><button @click="total--">reduce</button>
    <hr />
    <row>
      <v-col :width="1/24" v-for="n in 24">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.5">
        <row>
          <v-col :width="0.5">
            <div class="box red"></div>
          </v-col>
          <v-col :width="0.5">
            <div class="box red"></div>
          </v-col>
        </row>
      </v-col>
      <v-col :width="0.5">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.5">
        <div class="box yellow"></div>
      </v-col>
      <v-col :width="0.2" xs-grow>
        <div class="box red">Grow xs</div>
      </v-col>
      <break-row xs="xs"></break-row>
      <v-col :width="0.2" xs-grow>
        <div class="box red">Grow xs</div>
      </v-col>
      <break-row></break-row>
      <v-col grow="grow">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.2">
        <div class="box red"></div>
      </v-col>
      <break-row></break-row>
      <v-col grow="grow">
        <div class="box red"></div>
      </v-col>
      <break-row></break-row>
      <v-col>
        <h2>2</h2>
      </v-col>
      <v-col :width="0.2">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.2">
        <div class="box red"></div>
        <hr />
        <div class="box red"></div>
      </v-col>
      <v-col :xs="0.5">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.5">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.5">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.5">
        <div class="box yellow"></div>
      </v-col>
      <v-col :width="0.5">
        <hr />
      </v-col>
      <v-col width="100px">
        <hr />
      </v-col>
      <v-col :width="1">
        <div class="box red"></div>
      </v-col>
      <v-col>
        <div class="box yellow"></div>
      </v-col>
      <v-col grow="grow">
        <div class="box red"></div>
      </v-col>
      <break-row></break-row>
      <v-col grow="grow">
        <div class="box red"></div>
      </v-col>
      <v-col>
        <hr />
      </v-col>
      <v-col class="xxx" v-for="i in 10" :key="i" width="300" grow="grow">
        <div class="box red"></div>
      </v-col>
      <v-col :width="0.6">
        <div>
          <row>
            <v-col :width="0.5">
              <row>
                <v-col :width="0.5">
                  <div class="box yellow"></div>
                </v-col>
                <v-col :width="0.5">
                  <div class="box yellow"></div>
                </v-col>
              </row>
            </v-col>
            <v-col :width="0.5">
              <div class="box yellow"></div>
            </v-col>
          </row>
        </div>
      </v-col>
      <v-col :width="0.5">
        <div class="box red"></div>
      </v-col>
      <v-col :width="50">
        <div class="box red"></div>
      </v-col>
      <v-col grow="grow">
        <div class="box red"></div>
      </v-col>
      <break-row></break-row>
      <v-col :width="50">
        <div class="box red"></div>
      </v-col>
      <v-col :width="200">
        <div class="box red"></div>
      </v-col>
      <v-col :width="2" grow="grow">
        <div class="box red"></div>
      </v-col>
    </row>
  </div>
  <script>
    Vue.component('row', vueColrow.Row)
    Vue.component('v-col', vueColrow.Col)
    Vue.component('break-row', vueColrow.BreakRow)
    new Vue({
      el: '#app',
      data: {
        total: 21,
      }
    })
  </script>
  <style>
    .box {
      min-height: 100px;
    }

    .red {
      background: red;
    }

    .yellow {
      background: yellow;
    }
  </style>
</body>

</html>